@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-title: var(--font-montserrat);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
